streamlit==1.31.0
pandas==2.2.0
numpy==1.26.3
openpyxl==3.1.2
qdrant-client==1.7.0
sentence-transformers==2.2.2
torch>=1.6.0
transformers>=4.6.0
huggingface-hub>=0.8.1
scikit-learn>=0.24.1
nltk>=3.6.3
tqdm>=4.49.0